@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Sidebar Dashboard Template</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="~/css/Sidebar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>

    <input type="checkbox" id="check">
    <!--header area start-->
    <header>
        <label for="check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
        </label>
        <div class="left_area">
            <h3>E<span>Presciption</span></h3>
        </div>
        <div class="right_area">
            <a asp-area="Doctor" asp-controller="Home" asp-action="SearchPatient" class="logout_btn btn btn-primary">Exit</a>
        </div>
    </header>
    <!--header area end-->
    <!--mobile navigation bar start-->
    <div class="mobile_nav">
        <div class="nav_bar">
            <h4>Pharmacy name</h4>
            <i class="fa fa-bars nav_btn"></i>
        </div>
        <div class="mobile_nav_items">
            <a asp-controller="PatientMedHistory" asp-area="Doctor" asp-action="Diagnosis"><i class="fas fa-heartbeat"></i><span>Medical History</span></a>
            <a asp-controller="Prescription" asp-area="Doctor" asp-action="PatientDiagnosis" asp-route-id="@Context.Session.GetInt32("PatientID")"><i class="fas fa-list"></i><span>Patient Diagnosis</span></a>
            <a asp-controller="Prescription" asp-area="Doctor" asp-action="PrescriptionList"><i class="fas fa-list"></i><span>Active Prescriptions</span></a>
            <a asp-controller="Prescription" asp-area="Doctor" asp-action="Search"><i class="fas fa-search"></i><span>Search Prescriptions</span></a>
            <a asp-area="Doctor" asp-controller="Rejected" asp-action="Display" asp-route-id="@Context.Session.GetInt32("PatientID")"><i class="fas fa-ban"></i><span>Rejected Prescriptions</span></a>
        </div>
    </div>
    <!--mobile navigation bar end-->
    <!--sidebar start-->
    <div class="sidebar">
        <div class="profile_info">
            <h4>Doctor name</h4>
        </div>
        <a asp-controller="PatientMedHistory" asp-area="Doctor" asp-action="Diagnosis"><i class="fas fa-heartbeat"></i><span>Medical History</span></a>
        <a asp-controller="Prescription" asp-area="Doctor" asp-action="PatientDiagnosis" asp-route-id="@Context.Session.GetInt32("PatientID")"><i class="fas fa-list"></i><span>Patient Diagnosis</span></a>
        <a asp-controller="Prescription" asp-area="Doctor" asp-action="PrescriptionList"><i class="fas fa-list"></i><span>Active Prescriptions</span></a>
        <a asp-controller="Prescription" asp-area="Doctor" asp-action="Search"><i class="fas fa-search"></i><span>Search Prescriptions</span></a>
        <a asp-area="Doctor" asp-controller="Rejected" asp-action="Display" asp-route-id="@Context.Session.GetInt32("PatientID")"><i class="fas fa-ban"></i><span>Rejected Prescriptions</span></a>
    </div>
    <!--sidebar end-->

    <div class="content">
        @RenderBody()
    </div>

    <script type="text/javascript">
    $(document).ready(function(){
      $('.nav_btn').click(function(){
        $('.mobile_nav_items').toggleClass('active');
      });
    });
    </script>

</body>
</html>
