@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Search Results";
    Layout = "_SecondLayout";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Prescription</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>

<div class="form-group">
    @if (ViewBag.Prescriptions.Count > 0)
    {
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Condition Name</th>
                    <th>Prescribing Doctor</th>
                    <th>Prescription Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (PatientPrescriptionVM patient in ViewBag.Prescriptions)
                {
                    <tr>

                        <td>@patient.ConditionDescription</td>
                        <td>@patient.DoctorName @patient.DoctorSurname</td>
                        <td>@patient.Date</td>
                        <td>
                            <a asp-action="Details" asp-area="Pharmacist" asp-controller="Prescriptions" asp-route-id="@patient.PrescriptionID">View details</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else if (ViewBag.Prescriptions.Count == 0)
    {
        <h4 class="bg-warning text-center text-white p-2">No precritpion Records found</h4>
    }

</div>
