@{
    ViewData["Title"] = "Medication Practice List";
    Layout = "_AdminLayout";
}

@if (TempData.Keys.Contains("PracticeEdit"))
{
    <h4 class="bg-success text-center text-white p-2">

        @TempData["PracticeEdit"]
    </h4>
    <br />
}

<div class="row">
    <div class="col-sm-2">
        <a asp-controller="MedicalPracticeRec" asp-action="Add" class="btn btn-primary">Add Medication</a>
    </div>
</div>


<div class="col-12 border p-3">
    <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Practice Name</th>
                <th>Practice No</th>
                <th>Practice Contact No</th>
                <th>Practice Email</th>
                <th>Address</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (MedicalPractice medical in ViewBag.Practices)
            {
                <tr>

                    <td>@medical.PracticeName</td>
                    <td>@medical.PracticeNo</td>
                    <td>@medical.PracticeContactNo</td>
                    <td>@medical.PracticeEmail</td>
                    <td>@medical.AddressLine1 @medical.AddressLine2</td>


                    <td>
                        <a asp-controller="MedicalPracticeRec" asp-action="Update" asp-route-id="@medical.MedicalPracticeId" class="material-icons">edit</a>
                    </td>

                </tr>

            }
        </tbody>

    </table>

</div>
