@{
    ViewData["Title"] = "MedicationPracticeRecModel";
    Layout = null;
}

<div class="row">
    <div class="col-sm-2">
        <a asp-controller="MedicalPracticeRec" asp-action="Add" class="btn btn-primary">Add Medication</a>
    </div>
</div>


 <div class="col-12 border p-3">
        <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Medical Practice ID</th>
                    <th>Practice Name</th>
                    <th>Practice No</th>
                    <th>Practice Contact No</th>
                    <th>Practice Email</th>
                    <th>Address</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var medicalPractice in Model)
                {
                    <tr>
                        <td>@medicalPractice.MedicalPracticeId</td>
                        <td>@medicalPractice.PracticeName</td>
                        <td>@medicalPractice.PracticeNo</td>
                        <td>@medicalPractice.PracticeContactNo</td>
                        <td>@medicalPractice.PracticeEmail</td>
                        <td>@medicalPractice.AddressLine1 @medicalPractice.AddressLine2 , @medicalPractice.ProvinceID, @medicalPractice.SuburbID , medicalPractice.CityID, </td>
                        <td>
                            <a asp-controller="MedicalPracticeRec" asp-action="Update" asp-route-CenterID="@medicalPractice.MedicalPracticeId" class="material-icons">edit</a>
                            @*<a asp-controller="Report" asp-action="DownloadCenterReport" asp-route-BudgetID="@center.CenterID" class="text-primary"><i class="material-icons">description</i></a>*@
                            @*<a asp-controller="Center" asp-action="Centers" class="text-primary"><i class="material-icons"></i></a>*@
                            <a href="javascript:deleteCenter(@medicalPractice.MedicalPracticeId);" class="text-danger"> <i class="material-icons">delete</i></a>
                        </td>

                    </tr>

                }
            </tbody>

        </table>

    </div>
